@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Karla", serif;
  font-optical-sizing: auto;
}

/* navbar */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 150px;
  margin: 0 auto;
  z-index: 99999;
  /* position: sticky;  */
}

ul {
  display: flex;
  gap: 20px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: hsl(280, 2%, 34%);
}

.nav-links {
  display: flex;
  gap: 25px;
  align-items: center;
}

.nav-links button {
  padding: 10px 25px;
  background-color: transparent;
}

.mobile-nav-links {
  display: none;
}

@media only screen and (max-width: 600px) {
  nav {
    display: flex;
    padding: 40px 25px;
  }
  .mobile-nav-links {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  .nav-links {
    display: none;
  }
  hr {
    width: 10px;
  }
  span {
    border: 1px solid black;
    padding: 10px;
  }
}

/* main landing page */

h1,
h2,
h3 {
  font-family: "DM Serif Display", serif;
}

p {
  color: hsl(0, 0%, 98%);
}

.left-content button {
  padding: 10px 25px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  width: 160px;
  margin-top: 10px;
  margin-bottom: 120px;
}

.main-landing {
  background-color: hsl(256, 26%, 20%);
  display: flex;
  align-items: start;
  padding: 100px 0 0 0;
  gap: 60px;
  position: relative;
  width: 100%;
}
.main-landing__left {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 150px;
}

.main-landing__left hr {
  margin-bottom: 80px;
  width: 140px;
}

.main-landing__right {
  /* width: 50%; */
}

.main-landing__right img {
  position: absolute;
  object-fit: contain;
  /* width: 100%; */
}

.left-content {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.left-content__title {
  color: white;
  font-size: 60px;
  width: 15ch;
  letter-spacing: 2px;
  line-height: 60px;
}

.left-content p {
  width: 57ch;
}

.bg-pattern-left {
  z-index: 999;
  position: absolute;
  top: 340px;
}

.bg-pattern-right {
  z-index: 999;
  /* position: relative; */
  position: absolute;
  top: -5px;
  right: 0;
  height: min-content;
}

/* middle component */

.middle-component {
  display: flex;
  flex-direction: column;
  padding: 300px 150px 200px 150px;
}

.middle-component hr {
  width: 100px;
  margin-bottom: 40px;
}

.middle-component h1 {
  font-size: 60px;
  margin-bottom: 60px;
}

.our-values {
  display: flex;
  gap: 60px;
}

.our-values p {
  color: grey;
}

.our-value {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.our-value img {
  width: 80px;
  margin-bottom: 10px;
}

.bottom-banner img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
